<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	>
	<head>
		<title>Cadastro de Reservas</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container mt-4">
				<div th:replace="fragments/mensagemSucesso.html :: alert"></div>
				<div class="row">
					<div class="col-12 col-sm-9">
						<h4>Cadastro de Reservas</h4>
					</div>
					<div class="col-12 col-sm-3" style="text-align: right;">
						<a type="button" class="btn btn-success" th:href="@{/bilhetes}">Pesquisar <i class="far fa-eye"></i></a>
					</div>
				</div>
				<hr>
				<div class="card">
					<div class="card-body">
						<form th:object="${bilhete}" method="post" th:action="@{/bilhetes/novo}">
							<input type="hidden" th:field="*{codigo}"/>
							<div class="row">
									<input type="hidden"  th:field="*{dataReserva}">
								
								<div class="col-sm-12 col-md-4">
									<label for="codigo_cliente">Informe o codigo do cliente</label>
									<input type="text" class="form-control" id="codigo_cliente" th:field="${bilhete.cliente}"/>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-12 col-md-4">
									<label for="voo" class="form-label">Voo's disponiveis</label>
									<select class="form-control" id="voo" th:field="${bilhete.voo}">
										<option value="">Selecione o voo</option>
										<option th:each="ca: ${voos}"
										th:value="${ca.codigo}"
										th:text="${ca.origem}+'-'+${ca.destino}+'-'+${ca.data}+'-'+${ca.horaPartida}+'-'+${ca.horaChegada}">
										</option>
									</select>
								</div>
							</div>
							<button type="submit" class="btn btn-primary mt-4">Cadastar <i class="fa fa-user-plus"></i></button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>