<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	<head>
		<title>ViajaNet - Voo's</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container">
				<div class="row mt-4">
					<div class="col-sm-12 col-md-9">
						<h4>Pesquisa de Voos</h4>
					</div>
					<div class="col-sm-12 col-md-3" style="text-align:right;">
						<a th:href="@{/voos/novo}" type="button" class="btn btn-success">Cadastrar <i class="fa fa-user-plus"></i></a>
					</div>
				</div>
				<hr>
				<table class="table table-stripped table-bordered">
					<tr>
						<th class="col-1">Codigo</th>
						<th class="col-3">Data</th>
						<th class="col-2">Destino</th>
						<th class="col-2">Origem</th>
						<th class="col-3">Hora de Partida</th>
						<th class="col-2">Hora de Chegada</th>
						<th class="col-2">Preco</th>
						<th class="col-2">Aeronave</th>
						<th class="col-1 text-center"><i class="fa fa-cogs"></i></th>
					</tr>
					<tr th:each="voo: ${voos}">
						<td th:text="${voo.codigo}"></td>
						<td th:text="${voo.data}"></td>
						<td th:text="${voo.destino}"></td>
						<td th:text="${voo.origem}"></td>
						<td th:text="${voo.horaPartida}"></td>
						<td th:text="${voo.horaChegada}"></td>
						<td th:text="${voo.preco}"></td>
						<td th:text="${voo.aeronave?.nome}"></td>
						<td class="text-center">
							<a th:href="@{/voos/{codigo}(codigo = ${voo.codigo})}" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar"><i class="fa fa-user-edit"></i></a> 
							<a th:href="@{/voos/remover/{codigo}(codigo = ${voo.codigo})}" data-bs-toggle="tooltip" data-bs-placement="right" title="Remover"><i class="fa fa-trash text-danger"></i></a> 
						</td> 
					</tr>
					<tr th:if="${#lists.isEmpty(voos)}">
						<td colspan="9" class="text-center">Nenhum cadastro de voo encontrado</td>
					</tr>
				</table>
			</div>
		</section>
	</body>
</html>